# Copy to .env and fill in values. Never commit .env.

PORT=5000
MONGODB_URI=MONGODB_URI=mongo-db-connection-string


ADMIN_NAME=System Admin
ADMIN_EMAIL=admin@wedguest.local
ADMIN_PASSWORD=Admin@123

# you can use my email credentials to send emails
EMAIL_USER=wedguestadmin26@gmail.com
EMAIL_PASS=wcrcjrnykyspzpxr
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_ALLOW_SELF_SIGNED=true